{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Home'|trans }}
{% endblock %}

{% block body %}

<main>
    <div class="post">
        {% for post in posts %}
        <div class="post-item">
            <div class="media">
                <img class="mr-3 rounded-circle" src="{{ asset('build/images/male_avatar_small.png') }}" alt="placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1"><a href="{{ path('app_post_show',{'id': post.id}) }}">{{ post.title }}</a></h5>
                    <span>{{ post.content }}</span>
                </div>
            </div>
        </div>
        {% else %}
        <p>no records found</p>
        {% endfor %}
    </div>
</main>

{% endblock %}