<li class="nav-item {% if app.request.get('_route') == 'app_home_index' %}active{% endif %}">
    <a class="nav-link" href="{{ path('app_home_index') }}">{{ 'Home'|trans }}</a></li>
<li class="nav-item {% if app.request.get('_route') == 'app_register' %}active{% endif %}">
    <a class="nav-link" href="{{ path('app_register') }}">{{ 'Sign up'|trans }}</a></li>
<li class="nav-item {% if app.request.get('_route') == 'app_login' %}active{% endif %}">
    <a class="nav-link" href="{{ path('app_login') }}">{{ 'Sign in'|trans }}</a></li>
