<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('app_home_index') }}">Symblog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="{{ 'Search'|trans }}" aria-label="Search">
                <button class="btn btn-outline-primary text-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto top-menu">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item {% if app.request.get('_route') == 'app_post_add' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_post_add') }}"><i class="fas fa-pen-nib"></i> {{ 'Post'|trans }}</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                            {{ app.user.displayName }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">{{ 'My account'|trans }}</a>
                            <a class="dropdown-item" href="#">{{ 'Setting'|trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'Sign out'|trans }}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item {% if app.request.get('_route') == 'app_register' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_register') }}">{{ 'Sign up'|trans }}</a></li>
                    <li class="nav-item {% if app.request.get('_route') == 'app_login' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_login') }}">{{ 'Sign in'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>


